# Clave de API de Alibaba Cloud Model Studio (Qwen)
DASHSCOPE_API_KEY=Ab8RN6I2US4ih2cJ1RmYA3s3IvVBbkpQlZfIgLP1-KVUbLPkvw

# Clave de API de Gemini provista por el usuario (Legacy)
GEMINI_API_KEY=Ab8RN6I2US4ih2cJ1RmYA3s3IvVBbkpQlZfIgLP1-KVUbLPkvw
